[submodule "lib/AssetTools.NET"]
	path = lib/AssetTools.NET
	url = https://github.com/nesrak1/AssetsTools.NET.git
[submodule "lib/ilrepack"]
	path = lib/ilrepack
	url = https://github.com/gluck/il-repack.git
